<!DOCTYPE html>
<html>
  <%- include('head'); -%>
  <body>
    <div class="container-fluid">
        <div class="row">
            <%- include('sidebar'); -%>
            <div class="col-sm-10">
              <h1>ID: <%= bookinstance._id %></h1>
              <p><strong><a href=<%= bookinstance.book.url %>><%= bookinstance.book.title %></a></strong></p>
              <p><strong>Imprint: </strong><%= bookinstance.imprint %></p>
              <p><strong>Status: </strong>
                <% if (bookinstance.status == 'Available') { %>
                    <span class="text-success"><%= bookinstance.status %></span>
                <% } else if (bookinstance.status == 'Maintenance') { %>
                    <span class="text-danger"><%= bookinstance.status %></span>
                <% } else { %>
                    <span class="text-warning"><%= bookinstance.status %></span>
                <% } %>
                <% if (bookinstance.status != 'Available') { %>
                    <p><strong>Due back: </strong><%= bookinstance.due_back_formatted %></p>
                <% } %>
              </p>
              <p><a href=<%= bookinstance.url+'/delete'%>>Delete Book Instance</a></p>
              <p><a href=<%= bookinstance.url+'/update'%>>Update Book Instance</a></p>
            </div>
        </div>
    </div>
  </body>
</html>