<!DOCTYPE html>
<html>
  <%- include('head'); -%>
  <body>
    <div class="container-fluid">
        <div class="row">
            <%- include('sidebar'); -%>
            <div class="col-sm-10">
              <h1><%= title %></h1>
              <ul>
                <% if (bookinstance_list) { bookinstance_list.forEach(val =>  { %>
                    <li><a href=<%= val.url %> ><%= val.book.title %> : <%= val.imprint %></a> - 
                    <% if (val.status=='Available') { %>
                        <span class="text-success"><%= val.status %></span>
                    <% } else if (val.status=='Maintenance') { %>
                        <span class="text-danger"><%= val.status %></span>
                    <% } else { %>
                        <span class="text-warning"><%= val.status %></span>
                    <% } %>
                    <% if (val.status != 'Available') { %>
                        <span>(Due: <%= val.due_back %>)</span>
                    <% } %> </li>
                <% })} else { %>
                    <li>There are no books in this list</li>
                <% } %>
            </ul>
            </div>
        </div>
    </div>
  </body>
</html>
