<!DOCTYPE html>
<html>
  <%- include('head'); -%>
  <body>
    <div class="container-fluid">
        <div class="row">
            <%- include('sidebar'); -%>
            <div class="col-sm-10">
              <h1><%= title %></h1>
              <form method="POST" action="">
                  <div class="form-group">
                      <label for="book">Book:</label>
                      <select id="book" class="form-control" type="select" placeholder="Select book" name="book" required="true" >
                      <% book_list.sort(function(a,b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;}) %>
                      <% for (const book of book_list) { %>
                          <% if (typeof bookinstance !== 'undefined') { %>
                              <option value="<%= book._id %>" <%= bookinstance.book.toString()==book._id.toString() ? selected='selected' : '' %>><%= book.title %></option>
                          <% } else { %>
                              <option value="<%= book._id %>"><%= book.title %></option>
                          <% } %>
                      <% } %>
                      </select>
                  </div>
                  <div class="form-group">
                      <label for="imprint">Imprint:</label>
                      <input id="imprint" class="form-control" type="textarea" placeholder="Publisher and date information" name="imprint" required="true" value="<%= typeof bookinstance === 'undefined' ? "" : bookinstance.imprint %>" >
                  </div>
                  <div class="form-group">
                      <label for="due_back">Date when book available:</label>
                      <input id="due_back" class="form-control" type="date" name="due_back" value="<%= typeof bookinstance === 'undefined' ? "" : bookinstance.due_back_formatted_YYYY_MM_DD %>" >
                  </div>
                  <div class="form-group">
                      <label for="status">Status:</label>
                      <select id="status" class="form-control" type="select" placeholder="Select status" name="status" required="true">
                        <option value="Maintenance" <%= (typeof bookinstance == 'undefined' || bookinstance.status != 'Maintenance') ? '' : selected='selected' %> >Maintenance</option>
                        <option value="Available" <%= (typeof bookinstance == 'undefined' || bookinstance.status != 'Available') ? '' : selected='selected' %> >Available</option>
                        <option value="Loaned" <%= (typeof bookinstance == 'undefined' || bookinstance.status != 'Loaned') ? '' : selected='selected' %> >Loaned</option>
                        <option value="Reserved" <%= (typeof bookinstance == 'undefined' || bookinstance.status != 'Reserved') ? '' : selected='selected' %> >Reserved</option>
                      </select>
                  </div>
                  <button class="btn btn-primary" type="submit">Submit</button>
              </form>
              <% if (typeof errors !== 'undefined') { %>
                <ul>
                    <% for (const error of errors) { %>
                        <li><%= error.msg %></li>
                    <% } %>
                </ul>
              <% } %>
            </div>
        </div>
    </div>
  </body>
</html>